<div class="apidocs"> 
  <div class="content" id="docs-main"> 
    <h1><strong>Welcome to UPM Node.JS Documentation!</strong><a class="headerlink"
                                                                 href="#welcome-to-upm-python-documentation"></a></h1>
    

    <p>Browse to a module or class using the sidebar to view its API
    documentation.</p> 

    <p>UPM is a high level repository for sensors that use MRAA. Each
    sensor links to MRAA and are not meant to be interlinked although
    some groups of sensors may be. Each sensor contains a header which
    allows to interface with it. Typically a sensor is represented as a
    class and instantiated.</p> 

    <p>The constructor is expected to initialise the sensor and parameters
    may be used to provide identification/pin location on the board.</p> 

    <p>Typically an update() function will be called in order to get new
    data from the sensor in order to reduce load when doing multiple reads
    to sensor data.</p> 
    <div class="section" id="examples"> 
      <h3><code class="docutils literal"><span class="pre">Examples</span></code><a class="headerlink"
                                                                                    href="#examples"
                                                                                    title="Permalink to this headline">*</a></h3>
      

      <p>Multi-sensor samples for the starter and specialized kits can be
      found in the 
      <a class="reference external"
         href="https://github.com/intel-iot-devkit/iot-devkit-samples">iot-devkit-samples</a>
      repository.</p> 

      <p>Individual sensor usage examples for node.js are available 
      <a class="reference external"
         href="https://github.com/intel-iot-devkit/upm/tree/master/examples/javascript">here</a>.</p>
      
    </div>
    <div class="section" id="ide"> 
      <h3><tt class="docutils literal"><span class="pre">IDE Compatibility</span> 
      <span class="pre">UPM</span></tt><a class="headerlink"
                                          href="#ide"
                                          title="Permalink to this headline">*</a></h3>
      

      <p>Intel&reg; XDK IoT Edition is the recommended IDE for Node.js development.
      Visit the Intel&reg; Developer Zone IDE page for more information on how to get
      started.<br>
      <a href="https://software.intel.com/iot/software/ide"><img src="../docs/icons/xdk.png"/></a>
      </p>
    </div>
    <div class="section" id="building-upm"> 
      <h3><tt class="docutils literal"><span class="pre">Building</span> 
      <span class="pre">UPM</span></tt><a class="headerlink"
                                          href="#building-upm"
                                          title="Permalink to this headline">*</a></h3>
      

      <p>For building UPM, please follow this 
      <a class="reference external"
         href="https://github.com/intel-iot-devkit/upm/blob/master/docs/building.md">link</a>.</p>
      
    </div>
    <div class="section" id="making-your-own-upm-module"> 
      <h3><tt class="docutils literal"><span class="pre">Making</span> 
      <span class="pre">your</span> <span class="pre">own</span> 
      <span class="pre">UPM</span> <span class="pre">Module</span></tt><a class="headerlink"
                                                                          href="#making-your-own-upm-module"
                                                                          title="Permalink to this headline">*</a></h3>
      

      <p>This 
      <a class="reference external"
         href="https://github.com/intel-iot-devkit/upm/blob/master/docs/porting.md">link</a>
      has more information on making a new UPM module.</p> 

      <p>There is also an example available for max31855 
      <a class="reference external"
         href="https://github.com/intel-iot-devkit/upm/blob/master/docs/max31855.md">sensor</a>.</p>
      
    </div>
    <div class="section"
         id="naming-conventions-and-rules-for-new-upm-contributions"> 
      <h3><tt class="docutils literal"><span class="pre">Naming</span> 
      <span class="pre">Conventions</span> <span class="pre">and</span> 
      <span class="pre">Rules</span> <span class="pre">for</span> 
      <span class="pre">New</span> <span class="pre">UPM</span> 
      <span class="pre">Contributions</span></tt><a class="headerlink"
                                                    href="#naming-conventions-and-rules-for-new-upm-contributions"
                                                    title="Permalink to this headline">*</a></h3>
      

      <p>Before you begin development, please take a look at our naming 
      <a class="reference external"
         href="https://github.com/intel-iot-devkit/upm/blob/master/docs/naming.md">conventions</a>.</p>
      

      <p>Also, please read the guidelines for contributions to 
      <a class="reference external"
         href="https://github.com/intel-iot-devkit/upm/blob/master/docs/contributions.md">UPM</a>.</p>
      

      <p>Don&rsquo;t forget to check the documentation 
      <a class="reference external"
         href="https://github.com/intel-iot-devkit/upm/blob/master/docs/documentation.md">section</a>.</p>
      
      <div class="admonition note"> 

        <p class="first admonition-title">Note</p> 
        <ul class="last simple">
          <li>Make sure you add yourself as an author on every new code
          file submitted.</li> 
          <li>If you are providing a fix with significant changes, feel
          free to add yourself as a contributor.</li> 
          <li>Signing-off your commits is mandatory.</li> 
        </ul>
      </div>
    </div>
    <div class="section" id="api-documentation"> 
      <h1><strong>Other API Documentation</strong><a class="headerlink"
                                               href="#api-documentation"
                                               title="Permalink to this headline"></a></h1>
      

      <p><a href="http://iotdk.intel.com/docs/master/upm"><img src="../docs/icons/c++.png" /></a>
      <a href="http://iotdk.intel.com/docs/master/upm/java"><img src="../docs/icons/java.png" /></a>
      <a href="http://iotdk.intel.com/docs/master/upm/python"><img src="../docs/icons/python.png" /></a>
      <a href="http://iotdk.intel.com/docs/master/upm/node"><img src="../docs/icons/node.png" /></a>
      </p>
    </div>
    <div class="section" id="version-changelog"> 
      <h3><tt class="docutils literal"><span class="pre">Version</span> 
      <span class="pre">Changelog</span></tt><a class="headerlink"
                                                href="#version-changelog"
                                                title="Permalink to this headline">*</a></h3>
      

      <p>For our Version Changelog, please see 
      <a class="reference external"
         href="https://github.com/intel-iot-devkit/upm/blob/master/docs/changelog.md">here</a>.</p>
      
    </div>
    <div class="section" id="known-limitations"> 
      <h3><tt class="docutils literal"><span class="pre">Known</span> 
      <span class="pre">Limitations</span></tt><a class="headerlink"
                                                  href="#known-limitations"
                                                  title="Permalink to this headline">*</a></h3>
      

      <p>For the List of Known Limitations, please see 
      <a class="reference external"
         href="https://github.com/intel-iot-devkit/upm/blob/master/docs/knownlimitations.md">here</a>.</p>
      
    </div>
    <div class="section" id="keyboard-shortcuts"> 
      <h3><tt class="docutils literal"><span class="pre">Keyboard</span> 
      <span class="pre">Shortcuts</span></tt><a class="headerlink"
                                                href="#keyboard-shortcuts"
                                                title="Permalink to this headline">*</a></h3>
      
      <ul>
        <li>

        <p>Press <kbd>s</kbd> to focus the API search box.</p> </li>
        <li>

        <p>Use <kbd>Up</kbd> and <kbd>Down</kbd> to select classes,
        modules, and search results.</p> </li>
        <li class="mac-only">

        <p>With the API search box or sidebar focused, use <kbd><span class="cmd">&#8984;</span>-Left</kbd>
        or <kbd><span class="cmd">&#8984;</span>-Right</kbd> to switch
        sidebar tabs.</p> </li>
        <li class="pc-only">

        <p>With the API search box or sidebar focused, use <kbd>Ctrl+Left</kbd>
        and <kbd>Ctrl+Right</kbd> to switch sidebar tabs.</p> </li>
      </ul>
    </div>
  </div>
