    <div class="apidocs">
        <div id="docs-main" class="content">
            <p>
            MRAA is a low level skeleton library for communication on GNU/Linux platforms. See examples <a href="https://github.com/intel-iot-devkit/mraa/tree/master/examples/javascript">here</a>. 
            </p>
        </div>
    </div>


