    <div class="apidocs">
        <div id="docs-main" class="content">
            <p>
          The UPM API is a high level sensor library for IoT devices using MRAA. See examples <a href="https://github.com/intel-iot-devkit/upm/tree/master/examples/javascript">here</a>. 
            </p>
        </div>
    </div>


